.config-admin-page {
  max-width: 1000px;

  .card {
    border-radius: 12px;
  }

  .shadow-inner-sm {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.05);
  }

  h3, h5 {
    color: #0d6efd;
  }

  table td {
    vertical-align: middle;
  }


  @media (max-width: 768px) {
    .btn-CAP-inicializarproyecto,
    .btn-CAP-guardar {
      min-width: 100%;
    }
  }


  .btn-CAP-guardar-iconText {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .icon-disk {
      color: #8ee095;
    }
    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  .version-backend, .version-frontEnd {
    font-weight: 600;
  }

}




