
/* Oculta tarjetas en escritorio */
.usuarios-cards {
  display: none;
}

/* Estilo de tarjeta */
.usuario-card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.usuario-card .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}


.usuarios-admin {
  @media (max-width: 768px) {
    table {
      display: none !important;
    }

    .usuarios-cards {
      display: block;
    }
  }
}

.ico-edit-elim {
  display: flex;
  justify-content: center;
  gap: 1rem !important;
  i {
    font-size: 1.2rem;
    cursor: pointer !important;
    transition: transform 0.15s ease, opacity 0.15s ease !important;
  }

  @media (max-width: 768px) {
      i {
        font-size: 1.5rem;
      }
  }

}

.label-edit-elim-span {
  display: flex;
  align-items: center;
  font-weight: bolder;
}

