.productos-page {
  .producto-card {
    transition: all 0.25s ease;
    border-radius: 6px;

    &.producto-ok {
      background-color: #198754; // verde bootstrap
      color: #fff;
      border-color: #198754;

      a {
        color: #fff;
        text-decoration: underline;
      }

      .btn-warning {
        background-color: #ffc107;
        border-color: #ffc107;
        color: #000;
      }
    }
  }
}

