@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?the96x');
  src:  url('fonts/icomoon.eot?the96x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?the96x') format('truetype'),
    url('fonts/icomoon.woff?the96x') format('woff'),
    url('fonts/icomoon.svg?the96x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-microsoftword:before {
  content: "\e90f";
  font-size: 2rem;
  color: #2b579a;
}
.icon-bmp:before {
  content: "\e904";
  font-size: 2rem;
  color: #1b1304;
}
.icon-excel:before {
  content: "\e907";
  font-size: 2rem;
  color: #05541b;
}
.icon-JPEG:before {
  content: "\e908";
  font-size: 2rem;
  color: #b89372;
}
.icon-jpg:before {
  content: "\e909";
  font-size: 2rem;
  color: #85103d;
}
.icon-mp4:before {
  content: "\e90a";
  font-size: 2rem;
  color: #869c76;
}
.icon-pdf:before {
  content: "\e90b";
  font-size: 2rem;
  color: red;
}
.icon-png:before {
  content: "\e90c";
  font-size: 2rem;
  color: #07576b;
}
.icon-texto:before {
  content: "\e90d";
  font-size: 2rem;
}
.icon-x-altx-alt:before {
  content: "\e910";
}
.icon-floppy:before {
  content: "\e901";
}
.icon-disk:before {
  content: "\e901";
}
.icon-save:before {
  content: "\e901";
}
.icon-store:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e902";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-bell:before {
  content: "\e951";
}
.icon-download:before {
  content: "\e960";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-cog:before {
  content: "\e994";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-scissors:before {
  content: "\ea5a";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-trash-can:before {
  content: "\e900";
}
.icon-Verproductos:before {
  content: "\e90e";
  font-size: 2.5rem;
  color: #323f51;
  font-weight: 300;
}
.icon-menu-kebab:before {
  content: "\e911";
  font-size: 2.5rem;
  color: #323f51;
  font-weight: 300;
}
.icon-AddFacturas:before {
  content: "\e903";
  font-size: 2.5rem;
  color: #323f51;
  font-weight: 300;
}
.icon-Contador:before {
  content: "\e905";
  font-size: 2.5rem;
  color: #323f51;
  font-weight: 300;
}