.BackendConfigModal {
  // Contenedor de la lista
  .backend-list-container {
    max-height: 50vh; // El 50% de la altura de la pantalla
    overflow-y: auto; // Habilitar scroll vertical
    overflow-x: hidden; // Evitar scroll horizontal innecesario
    margin-bottom: 1rem;
    padding-right: 5px; // Espacio para que el scroll no tape los botones

    // Estilo opcional para el scrollbar (más fino y moderno)
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 10px;
    }
  }

  .list-group-item {
    &.active {
      background-color: #0d6efd;
      border-color: #0d6efd;
    }
  }
}