.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); // oscurece el fondo
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1050; // por encima de navbar y modales

  .spinner-border {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
  }

  .loading-text {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
